.landing-container{
    /* position: absolute;
    top: 69.5%; */
    color: var(--primary-color);
    background-image: linear-gradient(360deg, black, transparent) !important;
    width: 100%;
    height: 300px;
    padding: 150px 120px 20px;
}
.landimg-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.landimg-text-h1{
    font-size: 38px;
}
.landimg-text-span{
font-size: 20px;
}

@media(max-width:500px){
    .landing-container{
        /* position: absolute;
        top: 69.5%; */
        color: var(--primary-color);
        background-image: linear-gradient(360deg, black, transparent) !important;
        width: 100%;
        height: 300px;
        padding: 150px 60px 20px;
    }
}