/* Start Courses Pagination Styles */

.courses-pagination {
    margin: 5rem ;
}

.courses__pagination-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses__pagination-link {
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: black;
    margin: 0 0.5rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    color: var(--primary-color);
    list-style: none;
}

.courses__pagination-item {
    list-style: none;
}

.courses__pagination-link:hover {
    background-color: rgba(230, 181, 90, 0.137);
    color: var(--primary-color);
}

.courses__pagination-link--active {
    color: black;
    background-color: var(--primary-color);
}

@media(max-width:800px){
    .courses__pagination-list {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px !important;

    }
}

/* Finish Courses Pagination Styles */